/*
 *
 * MMM-Thingiverse
 *
 * Lucas Bock
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

.MMM-Thingiverse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  width: auto;
  height: auto;
}

.MMM-Thingiverse-creator {
  font-size: medium;
  margin: 0px;
}

.MMM-Thingiverse-name {
  font-size: large;
  margin: 0px;
}

.MMM-Thingiverse-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-items: center;
}

.MMM-Thingiverse-qrcode {
  max-width: 15%;
  max-height: 15%;
  margin: 4px;
}

.MMM-Thingiverse-thumbnail {
  max-width: 20%;
  max-height: 20%;
  margin: 4px;
}
