/*
 *
 * MMM-Thingiverse
 *
 * Lucas Bock
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

.MMM-Thingiverse-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MMM-Thingiverse-card {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-items: center;
  width: auto;
}

.MMM-Thingiverse-creator {
  font-size: medium;
  margin: 0px;
  word-wrap: break-word;
}

.MMM-Thingiverse-name {
  font-size: large;
  margin: 0px;
  word-wrap: break-word;
}

.MMM-Thingiverse-thumbnail {
  height: 100%;
  margin: 4px;
  max-height: 200px;
  max-width: 200px;
  width: 100%;
}
